/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.policies-board {
  display: inline-flex;
  justify-content: space-between;
  width: 500px;
}

.flow-control {
  display: inline-flex;
}

.flow-control select {
  font-size: 24px;
  font-weight: bold;
}

.policy-list {
  cursor: pointer;
}
